@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    display: block;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background: rgb(6, 2, 79);
    background: linear-gradient(90deg, rgba(6, 2, 79, 1) 0%, rgba(9, 91, 121, 1) 38%, rgba(0, 212, 255, 1) 100%);
    color: white;
    margin: 0;
}

#title {
    display: block;
    justify-content: center;
    text-align: center;
}

#number-container {
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1em;
}

#astronautsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
}

#astronautsContainer > :nth-child(n) {
    align-self: center;
    background-color: aquamarine;
    width: 20rem;
    height: 10rem;
    padding: 1em;
    margin: 0 auto 3em auto;
    border: 1px solid black;
    color: black;
}


footer {
    text-align: center;
    margin-bottom: 1em;
}

.contacto > img {
    aspect-ratio: 1;
    width: 3rem;
    margin-top: 1rem;
    cursor: pointer;
}